<div class="user-card user-card-container">
  <div class="user-photo user-photo-custom">
    <img src="<%= user.photo %>" alt='user photo' class="user-image" />
  </div>
  <div class="user-details">
    <h1 class="user-name"><%= user.name %></h1>
    <p class="user-post-count">Number of posts: <%= user.posts_counter %></p>
  </div>
</div>
